:root{
    --pink:#e84393;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span{
    color: orange;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: rgb(200, 104, 52);
    color: rgb(0, 0, 0);
    padding: .9rem 4.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgb(238, 189, 130);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(200, 104, 52);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(253, 247, 247, 0.116);
}

header .logo{
    font-size: 3rem;
    color: rgb(244, 212, 193);
    font-weight: bolder;
}

header .logo span{
    color: rgb(185, 35, 35);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: rgb(242, 210, 184);
}

header .navbar a:hover{
    color: rgb(253, 137, 96);
}

header .icons a{
    font-size: 2.5rem;
    color: rgb(244, 200, 42);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: rgb(238, 113, 67);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(home-bg1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
    color: #fff;
}

.home .content h3{
    font-size: 6rem;
    color: #eee;
}

.home .content span{
    font-size: 3.5rem;
    color: rgb(35, 224, 199);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;

}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1,5rem;
    color: #999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.produk .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.produk .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.produk .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: .5rem;
}

.produk .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.produk .box-container .box .img{
    height: 25rem;
}

.produk .box-container .box:hover .image img{
    transform: scale(1.1);
}

.produk .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.produk .box-container .box:hover .image .icons{
    bottom: 0;
}

.produk .box-container .box .image .icons a{
    height: 5rem; 
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
}

.produk .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.produk .box-container .box .image .icons a:hover{
    background: #333;
}

.produk .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.produk .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.produk .box-container .box .content .price{
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.produk .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    position: relative;
    margin: auto;
    color: #444;
}

table th, td{
    border: 1px solid #f5f5f5;
    padding: 7px 17px;
}

table thead th{
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    border-color: orange;
    text-transform: uppercase;
}

table tbody td{
    color: #353535;
}

table tbody tr:nth-child(odd) td {
    background-color: #f2f2f2;
}



















/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}
@media (max-width:768px){
    
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: rgb(251, 196, 129);
        border-top: .1rem solid rgba(164, 25, 25, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } 

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: rgb(255, 136, 0);    
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    
}

.heading{
    font-size: 3rem;
}





